a,
.tp-caption a.btn:hover {
  color: midnightblue;
}
.top-nav-collapse {
  background: midnightblue;
}

@media (max-width: 768px) {
  .navbar,
  .navbar-nav {
    background: midnightblue !important;
  }

  .navbar-nav a {
    color: #fff !important;
  }
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
  color: midnightblue;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background-color: midnightblue;
}

.widget-avatar .avatar:hover {
  border: 5px solid midnightblue;
}

.bg-skin {
  background: midnightblue;
}

form#contact-form input:focus,
form#contact-form select:focus,
form#contact-form textarea:focus {
  border-color: midnightblue;
}

footer {
  background-color: midnightblue;
}

.btn-skin {
  color: #fff;
  background-color: midnightblue;
  border-color: midnightblue;
}
