* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-nav a,
.aside-nav a {
  text-decoration: none;
  color: #6c757d;
}

.top-nav a:hover,
.aside-nav a:hover {
  color: black;
}

.top-nav a:active,
.aside-nav a:active {
  transform: scale(1.05);
}

html,
body {
  height: 100%;
  width: 100%;
}

header,
.center-area,
footer {
  width: 100%;
  background-color: #f8f9fa;
}

header {
  display: flex;
  flex-direction: row-reverse;
  height: 8%;
  border-bottom: 1px solid #dfe6e9;
}

header h1 {
  flex-grow: 1;
  padding: 10px;
}

.center-area {
  display: flex;
  height: 84%;
}

aside {
  width: 20%;
  height: 100%;
  display: flex;
  border-right: 1px solid #dfe6e9;
}

main {
  width: 80%;
  overflow: hidden;
  height: 100%;
}

nav {
  align-self: center;
  height: 80%;
}

.top-nav {
  display: flex;
  list-style-type: none;
  height: 100%;
  align-items: stretch;
}

.top-nav a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #dfe6e9;
  padding: 1em 2em;
}

.aside-nav {
  list-style-type: none;
  width: 90%;
  margin-left: 5%;
}

.aside-nav a {
  display: block;
  width: 100%;
  border-top: 1px solid #dfe6e9;
  padding: 1em 2em;
}

footer {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #dfe6e9;
}

footer h3 {
  font-weight: inherit;
}
